<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div [ngClass]="isActive('/menu')" routerLink="/menu">
      <mat-icon>import_contacts</mat-icon>
      <span> Menü </span>
    </div>

    <div [ngClass]="isActive('/cart')" routerLink="/cart">
      <mat-icon>art_track</mat-icon>
      <span> Kosár </span>
    </div>

    <div [ngClass]="isActive('/favourites')" routerLink="/favourites">
      <mat-icon>account_box</mat-icon>
      <span> Kedvencek </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
